=begin
#Build.io API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module BuildClient
  class AddonServicesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # list plans for addon service
    # List all visible plans for an addon service
    # @param name [String] Addon service name
    # @param [Hash] opts the optional parameters
    # @return [Array<AddonPlanCatalogItem>]
    def list_addon_service_plans(name, opts = {})
      data, _status_code, _headers = list_addon_service_plans_with_http_info(name, opts)
      data
    end

    # list plans for addon service
    # List all visible plans for an addon service
    # @param name [String] Addon service name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddonPlanCatalogItem>, Integer, Hash)>] Array<AddonPlanCatalogItem> data, response status code and response headers
    def list_addon_service_plans_with_http_info(name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddonServicesApi.list_addon_service_plans ...'
      end
      # verify the required parameter 'name' is set
      if @api_client.config.client_side_validation && name.nil?
        fail ArgumentError, "Missing the required parameter 'name' when calling AddonServicesApi.list_addon_service_plans"
      end
      # resource path
      local_var_path = '/api/v1/addon-services/{name}/plans'.sub('{' + 'name' + '}', CGI.escape(name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddonPlanCatalogItem>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"AddonServicesApi.list_addon_service_plans",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddonServicesApi#list_addon_service_plans\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list addon services
    # List all visible addon services from the catalog
    # @param [Hash] opts the optional parameters
    # @return [Array<AddonServiceCatalogItem>]
    def list_addon_services(opts = {})
      data, _status_code, _headers = list_addon_services_with_http_info(opts)
      data
    end

    # list addon services
    # List all visible addon services from the catalog
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<AddonServiceCatalogItem>, Integer, Hash)>] Array<AddonServiceCatalogItem> data, response status code and response headers
    def list_addon_services_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddonServicesApi.list_addon_services ...'
      end
      # resource path
      local_var_path = '/api/v1/addon-services'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<AddonServiceCatalogItem>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"AddonServicesApi.list_addon_services",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddonServicesApi#list_addon_services\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
