=begin
#Build.io API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module BuildClient
  class AddonsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # create addon
    # Create and provision a new addon for an app
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAddonRequest] :create_addon_request 
    # @return [Addon]
    def create_addon(app_id_or_name, opts = {})
      data, _status_code, _headers = create_addon_with_http_info(app_id_or_name, opts)
      data
    end

    # create addon
    # Create and provision a new addon for an app
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @option opts [CreateAddonRequest] :create_addon_request 
    # @return [Array<(Addon, Integer, Hash)>] Addon data, response status code and response headers
    def create_addon_with_http_info(app_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddonsApi.create_addon ...'
      end
      # verify the required parameter 'app_id_or_name' is set
      if @api_client.config.client_side_validation && app_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_id_or_name' when calling AddonsApi.create_addon"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id_or_name}/addons'.sub('{' + 'app_id_or_name' + '}', CGI.escape(app_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_addon_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Addon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"AddonsApi.create_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddonsApi#create_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # destroy addon
    # Destroy an addon (deprovisions and removes from all attached apps)
    # @param app_id_or_name [String] App ID or name
    # @param addon_id_or_name [String] Addon ID or name
    # @param [Hash] opts the optional parameters
    # @return [Addon]
    def destroy_addon(app_id_or_name, addon_id_or_name, opts = {})
      data, _status_code, _headers = destroy_addon_with_http_info(app_id_or_name, addon_id_or_name, opts)
      data
    end

    # destroy addon
    # Destroy an addon (deprovisions and removes from all attached apps)
    # @param app_id_or_name [String] App ID or name
    # @param addon_id_or_name [String] Addon ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Addon, Integer, Hash)>] Addon data, response status code and response headers
    def destroy_addon_with_http_info(app_id_or_name, addon_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddonsApi.destroy_addon ...'
      end
      # verify the required parameter 'app_id_or_name' is set
      if @api_client.config.client_side_validation && app_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_id_or_name' when calling AddonsApi.destroy_addon"
      end
      # verify the required parameter 'addon_id_or_name' is set
      if @api_client.config.client_side_validation && addon_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'addon_id_or_name' when calling AddonsApi.destroy_addon"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id_or_name}/addons/{addon_id_or_name}'.sub('{' + 'app_id_or_name' + '}', CGI.escape(app_id_or_name.to_s)).sub('{' + 'addon_id_or_name' + '}', CGI.escape(addon_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Addon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"AddonsApi.destroy_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddonsApi#destroy_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # show addon
    # Get info about an addon
    # @param app_id_or_name [String] App ID or name
    # @param addon_id_or_name [String] Addon ID or name
    # @param [Hash] opts the optional parameters
    # @return [Addon]
    def get_addon(app_id_or_name, addon_id_or_name, opts = {})
      data, _status_code, _headers = get_addon_with_http_info(app_id_or_name, addon_id_or_name, opts)
      data
    end

    # show addon
    # Get info about an addon
    # @param app_id_or_name [String] App ID or name
    # @param addon_id_or_name [String] Addon ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Addon, Integer, Hash)>] Addon data, response status code and response headers
    def get_addon_with_http_info(app_id_or_name, addon_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddonsApi.get_addon ...'
      end
      # verify the required parameter 'app_id_or_name' is set
      if @api_client.config.client_side_validation && app_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_id_or_name' when calling AddonsApi.get_addon"
      end
      # verify the required parameter 'addon_id_or_name' is set
      if @api_client.config.client_side_validation && addon_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'addon_id_or_name' when calling AddonsApi.get_addon"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id_or_name}/addons/{addon_id_or_name}'.sub('{' + 'app_id_or_name' + '}', CGI.escape(app_id_or_name.to_s)).sub('{' + 'addon_id_or_name' + '}', CGI.escape(addon_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Addon'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"AddonsApi.get_addon",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddonsApi#get_addon\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list addons
    # List all addons for an app
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<Addon>]
    def list_app_addons(app_id_or_name, opts = {})
      data, _status_code, _headers = list_app_addons_with_http_info(app_id_or_name, opts)
      data
    end

    # list addons
    # List all addons for an app
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Addon>, Integer, Hash)>] Array<Addon> data, response status code and response headers
    def list_app_addons_with_http_info(app_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: AddonsApi.list_app_addons ...'
      end
      # verify the required parameter 'app_id_or_name' is set
      if @api_client.config.client_side_validation && app_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_id_or_name' when calling AddonsApi.list_app_addons"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id_or_name}/addons'.sub('{' + 'app_id_or_name' + '}', CGI.escape(app_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Addon>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"AddonsApi.list_app_addons",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: AddonsApi#list_app_addons\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
