=begin
#Build.io API V1

### Authentication  All endpoints accept an OAuth Bearer token in the `Authorization` header.  Tokens come in three kinds, distinguished by their resource owner:  - **User tokens** (default) — full access to the user's apps, teams, pipelines, and namespaces. - **App-scoped tokens** (prefix `bldp_`) — bound to a single app. Can only access endpoints   that operate on that one app (e.g. `GET /api/v1/apps/:id`, builds, dynos, config vars).   Endpoints that operate on user-level collections (`/api/v1/apps`, `/api/v1/teams`,   `/api/v1/pipelines`, `/api/v1/namespaces`, `/api/v1/addon-attachments`, `/api/v1/addons`)   return **403 Forbidden** for these tokens. - **Addon partner tokens** (`addon:config` scope) — issued to addon vendors for partner   endpoints only.  The `/api/v1/me` response shape varies by token kind: user tokens return `{ email }`; app-scoped tokens return `{ app, email }` where `email` belongs to the user that minted the token.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module BuildClient
  class BuildpacksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # list buildpacks
    # List an app's buildpack installations in execution order
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<BuildpackInstallation>]
    def list_buildpacks(app_id_or_name, opts = {})
      data, _status_code, _headers = list_buildpacks_with_http_info(app_id_or_name, opts)
      data
    end

    # list buildpacks
    # List an app&#39;s buildpack installations in execution order
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<BuildpackInstallation>, Integer, Hash)>] Array<BuildpackInstallation> data, response status code and response headers
    def list_buildpacks_with_http_info(app_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuildpacksApi.list_buildpacks ...'
      end
      # verify the required parameter 'app_id_or_name' is set
      if @api_client.config.client_side_validation && app_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_id_or_name' when calling BuildpacksApi.list_buildpacks"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id_or_name}/buildpacks'.sub('{' + 'app_id_or_name' + '}', CGI.escape(app_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<BuildpackInstallation>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"BuildpacksApi.list_buildpacks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuildpacksApi#list_buildpacks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # update buildpacks
    # Replace an app's buildpack list. Order determines execution order.
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateBuildpacksRequest] :update_buildpacks_request 
    # @return [Array<BuildpackInstallation>]
    def update_buildpacks(app_id_or_name, opts = {})
      data, _status_code, _headers = update_buildpacks_with_http_info(app_id_or_name, opts)
      data
    end

    # update buildpacks
    # Replace an app&#39;s buildpack list. Order determines execution order.
    # @param app_id_or_name [String] App ID or name
    # @param [Hash] opts the optional parameters
    # @option opts [UpdateBuildpacksRequest] :update_buildpacks_request 
    # @return [Array<(Array<BuildpackInstallation>, Integer, Hash)>] Array<BuildpackInstallation> data, response status code and response headers
    def update_buildpacks_with_http_info(app_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BuildpacksApi.update_buildpacks ...'
      end
      # verify the required parameter 'app_id_or_name' is set
      if @api_client.config.client_side_validation && app_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'app_id_or_name' when calling BuildpacksApi.update_buildpacks"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id_or_name}/buildpacks'.sub('{' + 'app_id_or_name' + '}', CGI.escape(app_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'update_buildpacks_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'Array<BuildpackInstallation>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"BuildpacksApi.update_buildpacks",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BuildpacksApi#update_buildpacks\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
