=begin
#Build.io API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module BuildClient
  class CollaboratorsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List collaborators for an app
    # @param app_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<Collaborator>]
    def api_v1_apps_app_id_collaborators_get(app_id, opts = {})
      data, _status_code, _headers = api_v1_apps_app_id_collaborators_get_with_http_info(app_id, opts)
      data
    end

    # List collaborators for an app
    # @param app_id [String] 
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<Collaborator>, Integer, Hash)>] Array<Collaborator> data, response status code and response headers
    def api_v1_apps_app_id_collaborators_get_with_http_info(app_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: CollaboratorsApi.api_v1_apps_app_id_collaborators_get ...'
      end
      # verify the required parameter 'app_id' is set
      if @api_client.config.client_side_validation && app_id.nil?
        fail ArgumentError, "Missing the required parameter 'app_id' when calling CollaboratorsApi.api_v1_apps_app_id_collaborators_get"
      end
      # resource path
      local_var_path = '/api/v1/apps/{app_id}/collaborators'.sub('{' + 'app_id' + '}', CGI.escape(app_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Collaborator>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer', 'oauth2']

      new_options = opts.merge(
        :operation => :"CollaboratorsApi.api_v1_apps_app_id_collaborators_get",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: CollaboratorsApi#api_v1_apps_app_id_collaborators_get\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
