=begin
#Build.io API V1

#No description provided (generated by Openapi Generator https://github.com/openapitools/openapi-generator)

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module BuildClient
  class PipelinePromotionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # create a pipeline promotion
    # Creates a promotion from a source app to one or more target apps. Returns immediately with pending status — clients poll GET .../promotions/:id for completion.
    # @param pipeline_id [String] Pipeline ID
    # @param [Hash] opts the optional parameters
    # @option opts [CreatePipelinePromotionRequest] :create_pipeline_promotion_request 
    # @return [PipelinePromotion]
    def create_pipeline_promotion(pipeline_id, opts = {})
      data, _status_code, _headers = create_pipeline_promotion_with_http_info(pipeline_id, opts)
      data
    end

    # create a pipeline promotion
    # Creates a promotion from a source app to one or more target apps. Returns immediately with pending status — clients poll GET .../promotions/:id for completion.
    # @param pipeline_id [String] Pipeline ID
    # @param [Hash] opts the optional parameters
    # @option opts [CreatePipelinePromotionRequest] :create_pipeline_promotion_request 
    # @return [Array<(PipelinePromotion, Integer, Hash)>] PipelinePromotion data, response status code and response headers
    def create_pipeline_promotion_with_http_info(pipeline_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinePromotionsApi.create_pipeline_promotion ...'
      end
      # verify the required parameter 'pipeline_id' is set
      if @api_client.config.client_side_validation && pipeline_id.nil?
        fail ArgumentError, "Missing the required parameter 'pipeline_id' when calling PipelinePromotionsApi.create_pipeline_promotion"
      end
      # resource path
      local_var_path = '/api/v1/pipelines/{pipeline_id}/promotions'.sub('{' + 'pipeline_id' + '}', CGI.escape(pipeline_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'create_pipeline_promotion_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'PipelinePromotion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinePromotionsApi.create_pipeline_promotion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinePromotionsApi#create_pipeline_promotion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # get promotion status
    # Returns aggregate promotion status. Clients poll this until status is no longer pending.
    # @param pipeline_id [String] Pipeline ID
    # @param id [String] Promotion group ID
    # @param [Hash] opts the optional parameters
    # @return [PipelinePromotion]
    def get_pipeline_promotion(pipeline_id, id, opts = {})
      data, _status_code, _headers = get_pipeline_promotion_with_http_info(pipeline_id, id, opts)
      data
    end

    # get promotion status
    # Returns aggregate promotion status. Clients poll this until status is no longer pending.
    # @param pipeline_id [String] Pipeline ID
    # @param id [String] Promotion group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(PipelinePromotion, Integer, Hash)>] PipelinePromotion data, response status code and response headers
    def get_pipeline_promotion_with_http_info(pipeline_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinePromotionsApi.get_pipeline_promotion ...'
      end
      # verify the required parameter 'pipeline_id' is set
      if @api_client.config.client_side_validation && pipeline_id.nil?
        fail ArgumentError, "Missing the required parameter 'pipeline_id' when calling PipelinePromotionsApi.get_pipeline_promotion"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PipelinePromotionsApi.get_pipeline_promotion"
      end
      # resource path
      local_var_path = '/api/v1/pipelines/{pipeline_id}/promotions/{id}'.sub('{' + 'pipeline_id' + '}', CGI.escape(pipeline_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'PipelinePromotion'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinePromotionsApi.get_pipeline_promotion",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinePromotionsApi#get_pipeline_promotion\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list promotion targets
    # Returns per-target status with error_message on failure.
    # @param pipeline_id [String] Pipeline ID
    # @param id [String] Promotion group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<PromotionTarget>]
    def get_pipeline_promotion_targets(pipeline_id, id, opts = {})
      data, _status_code, _headers = get_pipeline_promotion_targets_with_http_info(pipeline_id, id, opts)
      data
    end

    # list promotion targets
    # Returns per-target status with error_message on failure.
    # @param pipeline_id [String] Pipeline ID
    # @param id [String] Promotion group ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<PromotionTarget>, Integer, Hash)>] Array<PromotionTarget> data, response status code and response headers
    def get_pipeline_promotion_targets_with_http_info(pipeline_id, id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinePromotionsApi.get_pipeline_promotion_targets ...'
      end
      # verify the required parameter 'pipeline_id' is set
      if @api_client.config.client_side_validation && pipeline_id.nil?
        fail ArgumentError, "Missing the required parameter 'pipeline_id' when calling PipelinePromotionsApi.get_pipeline_promotion_targets"
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling PipelinePromotionsApi.get_pipeline_promotion_targets"
      end
      # resource path
      local_var_path = '/api/v1/pipelines/{pipeline_id}/promotions/{id}/promotion-targets'.sub('{' + 'pipeline_id' + '}', CGI.escape(pipeline_id.to_s)).sub('{' + 'id' + '}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<PromotionTarget>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinePromotionsApi.get_pipeline_promotion_targets",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinePromotionsApi#get_pipeline_promotion_targets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
