=begin
#Build.io API V1

### Authentication  All endpoints accept an OAuth Bearer token in the `Authorization` header.  Tokens come in three kinds, distinguished by their resource owner:  - **User tokens** (default) — full access to the user's apps, teams, pipelines, and namespaces. - **App-scoped tokens** (prefix `bldp_`) — bound to a single app. Can only access endpoints   that operate on that one app (e.g. `GET /api/v1/apps/:id`, builds, dynos, config vars).   Endpoints that operate on user-level collections (`/api/v1/apps`, `/api/v1/teams`,   `/api/v1/pipelines`, `/api/v1/namespaces`, `/api/v1/addon-attachments`, `/api/v1/addons`)   return **403 Forbidden** for these tokens. - **Addon partner tokens** (`addon:config` scope) — issued to addon vendors for partner   endpoints only.  The `/api/v1/me` response shape varies by token kind: user tokens return `{ email }`; app-scoped tokens return `{ app, email }` where `email` belongs to the user that minted the token.

The version of the OpenAPI document: v1

Generated by: https://openapi-generator.tech
Generator version: 7.14.0

=end

require 'cgi'

module BuildClient
  class PipelinesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # get a specific pipeline
    # Retrieves details for a specific pipeline
    # @param pipeline_id_or_name [String] Pipeline ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Pipeline]
    def get_pipeline(pipeline_id_or_name, opts = {})
      data, _status_code, _headers = get_pipeline_with_http_info(pipeline_id_or_name, opts)
      data
    end

    # get a specific pipeline
    # Retrieves details for a specific pipeline
    # @param pipeline_id_or_name [String] Pipeline ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Pipeline, Integer, Hash)>] Pipeline data, response status code and response headers
    def get_pipeline_with_http_info(pipeline_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinesApi.get_pipeline ...'
      end
      # verify the required parameter 'pipeline_id_or_name' is set
      if @api_client.config.client_side_validation && pipeline_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'pipeline_id_or_name' when calling PipelinesApi.get_pipeline"
      end
      # resource path
      local_var_path = '/api/v1/pipelines/{pipeline_id_or_name}'.sub('{' + 'pipeline_id_or_name' + '}', CGI.escape(pipeline_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Pipeline'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinesApi.get_pipeline",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinesApi#get_pipeline\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # compare source app commits to downstream apps
    # Compares the source app current commit to each downstream app via GitHub compare API.
    # @param pipeline_id_or_name [String] Pipeline ID or Name
    # @param source_app [String] Source app ID or name
    # @param [Hash] opts the optional parameters
    # @return [GetPipelineDiff200Response]
    def get_pipeline_diff(pipeline_id_or_name, source_app, opts = {})
      data, _status_code, _headers = get_pipeline_diff_with_http_info(pipeline_id_or_name, source_app, opts)
      data
    end

    # compare source app commits to downstream apps
    # Compares the source app current commit to each downstream app via GitHub compare API.
    # @param pipeline_id_or_name [String] Pipeline ID or Name
    # @param source_app [String] Source app ID or name
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetPipelineDiff200Response, Integer, Hash)>] GetPipelineDiff200Response data, response status code and response headers
    def get_pipeline_diff_with_http_info(pipeline_id_or_name, source_app, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinesApi.get_pipeline_diff ...'
      end
      # verify the required parameter 'pipeline_id_or_name' is set
      if @api_client.config.client_side_validation && pipeline_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'pipeline_id_or_name' when calling PipelinesApi.get_pipeline_diff"
      end
      # verify the required parameter 'source_app' is set
      if @api_client.config.client_side_validation && source_app.nil?
        fail ArgumentError, "Missing the required parameter 'source_app' when calling PipelinesApi.get_pipeline_diff"
      end
      # resource path
      local_var_path = '/api/v1/pipelines/{pipeline_id_or_name}/diff'.sub('{' + 'pipeline_id_or_name' + '}', CGI.escape(pipeline_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'source_app'] = source_app

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetPipelineDiff200Response'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinesApi.get_pipeline_diff",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinesApi#get_pipeline_diff\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list apps in a pipeline
    # A list of applications in the pipeline.
    # @param pipeline_id_or_name [String] Pipeline ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<App>]
    def list_pipeline_apps(pipeline_id_or_name, opts = {})
      data, _status_code, _headers = list_pipeline_apps_with_http_info(pipeline_id_or_name, opts)
      data
    end

    # list apps in a pipeline
    # A list of applications in the pipeline.
    # @param pipeline_id_or_name [String] Pipeline ID or Name
    # @param [Hash] opts the optional parameters
    # @return [Array<(Array<App>, Integer, Hash)>] Array<App> data, response status code and response headers
    def list_pipeline_apps_with_http_info(pipeline_id_or_name, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinesApi.list_pipeline_apps ...'
      end
      # verify the required parameter 'pipeline_id_or_name' is set
      if @api_client.config.client_side_validation && pipeline_id_or_name.nil?
        fail ArgumentError, "Missing the required parameter 'pipeline_id_or_name' when calling PipelinesApi.list_pipeline_apps"
      end
      # resource path
      local_var_path = '/api/v1/pipelines/{pipeline_id_or_name}/apps'.sub('{' + 'pipeline_id_or_name' + '}', CGI.escape(pipeline_id_or_name.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<App>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinesApi.list_pipeline_apps",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinesApi#list_pipeline_apps\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # list pipelines
    # Lists all pipelines accessible to the current user. Optionally filter by team.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :team_id Filter pipelines by team ID or name
    # @return [Array<Pipeline>]
    def list_pipelines(opts = {})
      data, _status_code, _headers = list_pipelines_with_http_info(opts)
      data
    end

    # list pipelines
    # Lists all pipelines accessible to the current user. Optionally filter by team.
    # @param [Hash] opts the optional parameters
    # @option opts [String] :team_id Filter pipelines by team ID or name
    # @return [Array<(Array<Pipeline>, Integer, Hash)>] Array<Pipeline> data, response status code and response headers
    def list_pipelines_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PipelinesApi.list_pipelines ...'
      end
      # resource path
      local_var_path = '/api/v1/pipelines'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'team_id'] = opts[:'team_id'] if !opts[:'team_id'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'Array<Pipeline>'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['bearer']

      new_options = opts.merge(
        :operation => :"PipelinesApi.list_pipelines",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PipelinesApi#list_pipelines\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
